*{
    padding: 0%;
    margin: 0%;
}
.main{
    background-image: url(assets/img/backgroundImg.jpg);
    height: 97vh;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}
.main .box{
    height: 97vh;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position:absolute;
    top: 0%;
}
nav{
    display: flex;
    align-items: center;
    max-width: 150vh;
    margin: auto;
    justify-content: space-between;
    height: 100px;
    position: relative;
    z-index: 1;
}