*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
.main{
    background-image: url(assets/img/backgroundImg.jpg);
    height: 98vh;
    background-position: center center;
    background-size: max(1200px, 125vw);
    background-repeat: no-repeat;
    position: relative;
}
.main .box{
    height: 98vh;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position:absolute;
    top: 0%;
}
nav{
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 100px;
    position: relative;
    z-index: 1;
}
nav img{
    position: relative;
    z-index: 1;
}
nav button{
    position: relative;
    z-index: 1;
}
body{
    background-color: black;
}
.body{
    height: 75%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-weight: 700;
    font-style:normal;
    font-size: 25px;
    gap: 20px;
    text-align: center;
    padding: 0 20px;
}
.subHeading{
    font-weight: 100;
    font-size: 20px;
} 
.division{
    height: 8px;
    background-color: #313131;
}
.btn{
    background-color: rgb(229, 9, 20);
    color: white;
    text-align: center;
}
.getStartedBtn{
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.25rem;
    padding: 5px 10px 5px 10px ;
    border-radius: 5px;
    cursor: pointer;
}
.signInBtn{
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}
#email{
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    font-size: 12px;
    min-height: 2rem;
    padding: 5px 100px 5px 5px;
    border-radius: 0.25rem;
    font-weight: 500;
    border: 1px solid rgba(246, 238, 238, 0.7);
}
.btns{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 7px;
}
.dropDown{
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    padding: 3px;
    border: 1px solid rgba(246, 238, 238, 0.7);
}
.device1 , .device2 , .device3 , .device4 {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    align-items: center;
    min-height: 35vw;
}
.device1Img , .device3Img{
    position: relative;
}
.device1Heading , .device2Heading , .device3Heading , .device4Heading , .faqHeading{
    color: white;
    font-weight: 700;
    font-style:normal;
    font-size: 45px;
    padding: 34px 0;
}
.device1Subheading , .device2Subheading , .device3Subheading , .device4Subheading{
    color:white;
    font-weight: 100;
    font-size: 20px;
    padding-bottom: 30px;
}
.device1Img img{
    width: 440px;
    z-index: 10;
    position: relative;
}
.device1 , .device3{
    position: relative;
    top: 0;
}
.device1 video{
    position: absolute;
    right: 13%;
    width: 320px;
    top: 70px;
}
.device2 img , .device4 img{
    width: 500px;
}
.device3Img img{
    width: 590px;
    position: relative;
    z-index: 10;
}
.device3Img video{
    position:absolute;
    right: 19%;
    width: 370px;
    top: 60px;
}
.faqHeading{
    text-align: center;
    margin-top: 4%;
}
.questions{
    background-color: #313131;
    display: flex;
    max-width: 70vw;
    margin: 10px auto;
    color: white;
    padding: 24px;
    justify-content: space-between;
    cursor: pointer;
}
.membership{
    color: white;
    min-height: 10vw;
    text-align: center;
    margin-top: 2%;
}
.questions:hover{
    background-color: #414141;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 8px;

}
.footerItems{
    display: flex;
    flex-direction: column;
}
.call{
    text-align: center;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    margin-top: 3vw;
}
.footer a{
    text-decoration:underline;
    color: white;
    padding: 8px;
}
.footerDropdown , .lastText{
    padding: 20px;
}
.membershipBtns{
    padding-bottom: 15px;
}
@media screen and (max-width:1300px){
    .footer{
        grid-template-columns: 1fr 1fr;
    }
    .device1 , .device2 , .device3 , .device4{
        flex-wrap: wrap;
    }
    nav{
        max-width: 90vw;
    }
    .body{
        font-weight: 400;
        font-size: 15px;
    }
    .device1Heading , .device2Heading , .device3Heading , .device4Heading , .faqHeading{
        font-weight: 600;
        font-size: 30px;
        padding: 34px 0;
        text-align: center;
    }
    .device1Subheading , .device2Subheading , .device3Subheading , .device4Subheading{
        font-weight: 100;
        font-size: 20px;
        padding-bottom: 30px;
        text-align: center;
    }
    .device3Img img{
        width: 350px;
    }
    .device3Img video{
        width: 220px;
        top: 40px;
    } 
    #email{
        font-size: 12px;
        min-height: 1rem;
        font-weight: 300;
        padding: 5px 50px 5px 5px;
    }
    .getStartedBtn{
        font-size: 1rem;
        font-weight: 100;
    }
    .device1Img img{
        width: 350px;
    }
    .device1 video{
        width: 250px;
        top: 50px;
    }
    .device2 img , .device4 img{
        width: 300px;
    }
}